<%- include("./layouts/header"); -%>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="tile1">
                        <img src="/image/hello.jpg" title="Spotlight of the Day">
                        <div class="text">
                            <p>Spotlight of the day</p>
                            <a href="/index2" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile1">
                        <img src="/image/hello.jpg" title="Event of the day">
                        <div class="text">
                            <p>Event of the day</p>
                            <a href="/index2" class="stretched-link"></a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile1">
                        <img src="/image/hello.jpg" title="Poll of the day">
                        <div class="text">
                            <p>Poll of the day</p>
                            <a href="/index2" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="tile1">
                        <img src="/image/hello.jpg">
                        <div class="text" title="Person of the day">
                            <p> Person of the week</p>
                            <a href="/index2" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile1">
                        <img src='/image/hello.jpg' title='Events'>
                        <div class="text">
                            <p>Org of the week</p>
                            <a href="/index2" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile1">
                        <img src='/image/hello.jpg' title='Events'>
                        <div class="text">
                            <p> Calender </p>
                            <a href="/index2" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="container">
            <h6 class="topic text-center">
                What's Hot?
            </h6>
            <div class="row">
                <div class="col-md-4">
                    <div class="news">
                        <p>Technology</p>
                        <a href="/link" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="news">
                        <p>Coding</p>
                        <a href="/link" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="news">
                        <p>web</p>
                        <a href="/link" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include("./layouts/footer"); -%>