<%- include("./layouts/header"); -%>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="hover1">
                    <div class="tile2">
                        <img src="./image/learnTocode.jpg">
                        <a href="file:///P:/lorihealth/phoenix/index3.html" class="stretched-link"></a>
                    </div>
                    <div class="coding">
                        <h6>Why learn to code? 6 Surprising benefits to consider</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hover1">
                    <div class="tile2">
                        <img src="./image/learnTocode.jpg">
                        <a href="file:///P:/lorihealth/phoenix/index3.html" class="stretched-link"></a>
                    </div>

                    <div class="coding">
                        <h6>Why learn to code? 6 Surprising benefits to consider</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hover1">
                    <div class="tile2">
                        <img src="./image/learnTocode.jpg">
                        <a href="file:///P:/lorihealth/phoenix/index3.html" class="stretched-link"></a>
                    </div>

                    <div class="coding">
                        <h6>Why learn to code? 6 Surprising benefits to consider</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">

                <div class="tile2">
                    <img src="./image/learnTocode.jpg">
                    <a href="file:///P:/lorihealth/phoenix/index3.html" class="stretched-link"></a>
                </div>

                <div class="coding">
                    <h6>Why learn to code? 6 Surprising benefits to consider</h6>
                </div>
            </div>

            <div class="col-md-4">

                <div class="tile2">
                    <img src="./image/learnTocode.jpg">
                    <a href="file:///P:/lorihealth/phoenix/index3.html" class="stretched-link"></a>
                </div>

                <div class="coding">
                    <h6>Why learn to code? 6 Surprising benefits to consider</h6>
                </div>
            </div>
            <div class="col-md-4">

                <div class="tile2">
                    <img src="./image/learnTocode.jpg">
                    <a href="file:///P:/lorihealth/phoenix/index3.html" class="stretched-link"></a>
                </div>

                <div class="coding">
                    <h6>Why learn to code? 6 Surprising benefits to consider</h6>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">

                <div class="tile2">
                    <img src="./image/learnTocode.jpg">
                    <a href="file:///P:/lorihealth/phoenix/index3.html" class="stretched-link"></a>
                </div>

                <div class="coding">
                    <h6>Why learn to code? 6 Surprising benefits to consider</h6>
                </div>
            </div>
            <div class="col-md-4">

                <div class="tile2">
                    <img src="./image/learnTocode.jpg">
                    <a href="file:///P:/lorihealth/phoenix/index3.html" class="stretched-link"></a>
                </div>

                <div class="coding">
                    <h6>Why learn to code? 6 Surprising benefits to consider</h6>
                </div>
            </div>
            <div class="col-md-4">

                <div class="tile2">
                    <img src="./image/learnTocode.jpg">
                    <a href="file:///P:/lorihealth/phoenix/index3.html" class="stretched-link"></a>
                </div>
                <div class="coding">
                    <h6>Why learn to code? 6 Surprising benefits to consider</h6>
                </div>
            </div>
        </div>
    </div>
    <%- include("./layouts/footer");-%>